*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

header,
main,
footer {
  width: 90%;
  max-width: 80ch;
  margin: 0 auto;
  text-align: left;
}
